<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- how long to wait when there is nothing to process. Helps performance -->
    <add key="TimerInterval" value="10000" />
  </appSettings>
</configuration>