
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h2>Index</h2>
    <div id="render_scene" class="render_scene">

    </div>
</div>
@Scripts.Render("~/bundles/render")