@model System.Web.Mvc.HandleErrorInfo
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h2>Error.</h2>
        @if (Model != null)
        {
            <div>
                <h3>
                     An error occured in @Model.ControllerName controller
                </h3>
                <h4>@Model.Exception.Message</h4>
            </div>
        }
    </hgroup>
</body>
</html>
