@using ChatWithSignalRAndWinServMVC.Web.Common.ViewModels.ChatViews.Pages
@model ChatIndexPageView
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_CreateChat", new CreateChatPartialPageView())
        @Html.Partial("_AvailableChats", Model.Chats)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}